  <header class="bg-light-blue flex space-between p4">
    <a href="/" class="flex">
      <img src="/img/algoritmeregister-logo.svg" class="w-main-logo">
    </a>
    <nav class="flex align-center">
      <a href="/" class="text-nav mr4">home</a>
      <a href="/documenten" class="text-nav mr4">documenten</a>
      <a href="/pilot" class="text-nav mr4">pilot</a>
      <a href="https://www.github.com/Algoritmeregister">
        <img src="img/github-repo-link.svg" class="display-block">
      </a>
    </nav>
  </header>