  <header class="bg-light-blue flex space-between p4">
    <a href="/" class="flex">
      <img src="/img/algoritmeregister-logo.svg" class="w-main-logo">
    </a>
    <nav class="flex align-center">
      <a href="/" class="text-nav mr4">home</a>
      <a href="/bijeenkomsten" class="text-nav mr4">bijeenkomsten</a>
      <a href="/kopgroep" class="text-nav mr4">kopgroep</a>
      <a href="/beheertool" class="text-nav mr4">beheertool</a>
      <a href="/documenten" class="text-nav mr4">documenten</a>
      <!-- <a href="/aanbod" class="text-nav mr4">aanbod</a> -->
      <a href="https://www.github.com/Algoritmeregister">
        <img src="/img/github-repo-link.svg" class="display-block">
      </a>
    </nav>
  </header>