  <header class="bg-light-blue flex space-between p4">
    <a href="/" class="flex">
      <img src="/img/algoritmeregister-logo.svg" class="w-main-logo">
    </a>
    {% unless include.hide_menu %}
    <nav class="flex align-center small-screen-disabled">
      {% for item in site.data.menu %}
      <a href="{{item.url}}" class="text-nav mr4">{{item.title}}</a>
      {% endfor %}
      <a href="https://www.github.com/Algoritmeregister">
        <img src="/img/github-repo-link.svg" class="display-block">
      </a>
    </nav>
    <nav class="flex align-center small-screen-enabled">
      <a href="/menu" class="text-nav mr4">menu</a>
    </nav>
    <style>
      @media only screen and (max-width: 829px) {
        .small-screen-enabled { display: block }
        .small-screen-disabled { display: none }
      }
      @media only screen and (min-width: 830px) {
        .small-screen-enabled { display: none }
        .small-screen-disabled { display: show }
      }
    </style>
    {% endunless %}
  </header>