<div class="bg-light-grey py6">
  <div class="flex mx-auto w-max-wrapper dir-col md:dir-row">
    <div class="flex-1 px2">
      <div class="md-zone">
        <h2>Open samenwerking</h2>
        <p>Momenteel verzamelen we de kopgroep van mensen die bezig zijn met het implementeren van een algoritmeregister. Samen brengen we de standaard in de praktijk in de eigen organisatie. Zo doende halen we concrete feedback op, die we verwerken in de volgende versie. Dit doen we in samenwerking met <a href="https://codefor.nl">Code for NL</a> (open community en meetups) en de <a href="https://publiccode.net">Foundation for Public Code</a> (open source code stewardship).</p>
      </div>
    </div>
    <div class="flex-1 px2">
      <div class="px4">
        <img src="img/foundation-pc.png" class="display-block p4">
        <img src="img/code-for-nl.png" class="display-block p4">
      </div>
    </div>
  </div>
</div>