<div class="md-zone">
	<h1>Grip op de algoritmes in je organisatie</h1>
</div>
<p class="text-intro">Algoritmeregister is een handige beheertool voor inzet van algoritmische toepassingen door publieke organisaties.</p>
<div class="md-zone">
	<h2>Praktische beheertool</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<ul>
		<li>Duis aute irure dolor in reprehenderit</li>
		<li>Excepteur sint occaecat cupidatat non proident</li>
	</ul>
</div>