.w-main-logo {
	max-width: 240px; 
}

.btn {
	border: 0;
	border-radius: 4px;
	padding: $spacing-2 $spacing-4;
	cursor: pointer;
	background: $blue;
	color: #fff;
	@extend .text-button;
}

.label {
	display: inline-block;
	background: $grey;
	color: #fff;
	padding: 0 4px;
	border-radius: 4px;
	@extend .text-button;
	margin-bottom: 14px;
	font-size: 0.85em;
}

.md-zone {
	h1 {
		@extend .text-h1;
		margin-bottom: 2 * $spacing;
	}

	h2 { 
		@extend .text-h2;
		@extend .mb3;
	}

	h3 { 
		@extend .text-h3;
		@extend .mb3;
	}
	
	p, li {
		@extend .text-body;
	}

	li {
		@extend .mb2;
		display: list-item;
	}

	ul {
		padding-left: 16px;
	}

	ul li {
		list-style: square;
	}

	p {
		@extend .mb4;
	}
}