<html>
    <head>
        <meta name="viewport" content="width=320,initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="image_src" href="https://www.algoritmeregister.nl/img/algoreg-logo.png">
        <link rel="shortcut icon" type="image/png" href="https://www.algoritmeregister.nl//img/algoreg-logo.png">
        <link rel="stylesheet" href="https://www.algoritmeregister.nl//css/style.css">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="default-background">
            <nav><a href="https://www.github.com/Algoritmeregister">Algoritmeregister op github</a>&emsp;</nav>
            <p style="margin: 20px"><a href="https://www.algoritmeregister.nl" style="float: left">← naar Algoritmeregister</a></p>
            <header class="default-color">
                <h1>Over Algoritmeregister</h1>
            </header>
            <section>
                <p>Dat overheden techniek niet altijd verantwoord inzet is onlangs breed in het nieuws uitgemeten bij de toeslagenaffaire. Onder de vlag van het programma <a href="https://publiekecontrole.com/">Publieke Controle op Algoritmes</a> werkt een consortium van 12 overheden aan beleidsinstrumenten om de controle op deze systemen te vergroten. Hoe zijn wij transparant in ons handelen?</p>
                <p>Hoe communiceren wij over de inzet van algoritmes? Welke informatie is nuttig om te delen met burgers, bedrijven en andere geïnteresseerden?</p>
                <p>Daarom ontwikkelt <a href="https://www.tiltshift.nl">Tiltshift</a> in opdracht van het consortium een overzicht van de algoritmische toepassingen die we in de praktijk inzetten: Algoritmeregister. Door in deze registratie aspecten van algoritmische toepassingen op een begrijpelijke manier vast te leggen kunnen wij transparantie bieden en verantwoording af leggen. In het register kun je technische elementen terugvinden, zoals de dataverwerking of broncode, maar bijvoorbeeld ook afspraken tussen overheden en leveranciers of bijvoorbeeld een beschrijving van de werking van het algoritme.</p>
                <p>Bekijk voor meer informatie ook <a href="https://commonground.nl/groups/view/4675b168-d26a-4e37-8cb2-5890c8191108/team-algoritmeregister">Common Ground</a> en de <a href="https://standard.publiccode.net/">Standard for Public Code</a>.
            </section>

            <section>
                <h2>🧪 Testorganisaties gezocht</h2>
                <p>Om Algoritmeregister in de praktijk te toetsen en verder te ontwikkelen zoeken we testorganisaties. Ben je bezig met het inventariseren van algoritmische toepassingen in jouw organisatie en wil je Algoritmeregister daarvoor inzetten? We komen graag in contact!</p>
                <form>
                    <input name="valprop" type="hidden" value="algoritmeregister.org testorganisaties">
                    <input name="email" type="email" placeholder="uw e-mail adres"></input>
                    <button type="submit">Neem contact met mij op</button>
                </form>
                <script>
                    $("form").submit(function (e) {
                      e.preventDefault();
                      $.post('https://berichten.tiltshift.nl', $(this).serialize(), function () {
                        $("form").replaceWith("<h2>We nemen snel contact op!</h2>");
                      });
                    });
                </script>
            </section>

            <section>
                <h2>📯 Blijf op de hoogte</h2>
                <p>We werken <i>in the open</i> in de open source community Code for NL. Praat mee op <a href="https://praatmee.codefor.nl">praatmee.codefor.nl</a> in kanaal #algoritmeregister, of volg de ontwikkelingen via <a href="https://twitter.com/nl_algoreg">Twitter</a>.</p>
            </section>
        </div>
        <footer>
            software design by 
            <a href="https://www.tiltshift.nl"><img src="https://www.tiltshift.nl/assets/img/logo_transparent_cropped.svg" alt="Tiltshift"></a>
        </footer>    
    </body>
</html>