<!DOCTYPE html>
<html lang="nl">
<head>
  {% include meta.html %}
  <title>Algoritmeregister - Contact</title>
</head>
<body>
  {% include layout-overlay.html %}

  {% include header.html %}

  <div class="bg-light-blue">
    <div class="flex mx-auto w-max-wrapper">
      <div class="flex-1 px2 py4">
        <div class="md-zone">
          <h1>Contact</h1>
        </div>
      </div>
    </div>
  </div>

<div class="flex mx-auto w-max-wrapper dir-col md:dir-row my5">
  <div class="flex-1 px2">
    <div class="md-zone mb4">
      <h1>Voordelen deelname pilot</h1>
      <ul class="mb4">
        <li>U kunt als eerste gebruik maken van de ontwikkelde software</li>
        <li>Uw wensen kunnen maximaal worden meegenomen bij de ontwikkeling van de standaard en de software</li>
        <li>U wordt actief ondersteund bij inventarisatie en publicatie</li>
        <li>U draait actief mee in de community of practice, de kopgroep van overheden die zich hard maken voor verantwoorde inzet van algoritmes in hun organisatie</li>
      </ul>
      <h2>Aanmelden</h2>
      <p>Voor de Pilot zijn nog een aantal plekken beschikbaar om in te stappen als organisatie.</p>
      <a href="mailto:info@algoritmeregister.org" class="btn display-inline-block">info@algoritmeregister.org</a>
    </div>
  </div>
  <div class="flex-1 px2">
        <img src="/img/temp-illustration-undraw-contact.png" srcset="/img/temp-illustration-undraw-contact@2x.png 2x">

  </div> 
</div>

  {% include open-collab.html %}
  {% include footer.html %}  
</body>
</html>