<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
  <title>Algoritmeregister</title>
</head>
<body>

  <header class="bg-light-blue flex space-between">
    <img src="/img/algoritmeregister-logo.svg" class="w-main-logo">
    <nav>
      <a href="#" class="text-nav">home</a>
      <a href="#" class="text-nav">resources</a>
      <a href="#" class="text-nav">contact</a>
    </nav>
  </header>

  <div class="bg-light-blue">
    <div>
      <img src="/img/temp-illustration-undraw.png" srcset="/img/temp-illustration-undraw@2x.png 2x">
    </div>
    <div>
      <div class="md-zone">
        <h1>Grip op de algoritmes in je organisatie</h1>
        <p>Algoritmeregister is een handige beheertool voor inzet van algoritmische toepassingen door publieke organisaties.</p>
      </div>
      <a href="#" class="btn display-inline-block">Aanmelden voor de pilot</a>
    </div>
  </div>

  <div>
    <div>
      <h4>Betrokken organisaties</h4>
      <img src="/img/temp-organisations-strip.png" srcset="/img/temp-organisations-strip@2x.png 2x">
    </div>
  </div>

  <div>
    <h2 class="text-h2">Praktische beheertool</h2>
    <p class="text-intro c-grey text-center">Algoritmeregister ondersteunt de algoritmeverantwoordelijke bij het snel en overzichtelijk inventariseren, registreren en actualiseren van informatie over de inzet van algoritmische toepassingen binnen de organisatie, op basis van de door het consortium ontwikkelde open standaard voor registratie van algoritmische toepassingen in overheidsorganisaties.</p>
  </div>

  <div class="flex ml-auto mr-auto sm:w-max-wrapper">
    <div>
      <div>
        <h3 class="text-h3">Alles op één plek</h3>
        <p class="text-body">Als algoritmeverantwoordelijke heb je alle lopende en benodigde inventarisaties netjes bij elkaar, met contactgegevens, openstaande taken, en meer.</p>
      </div>
      <div>
        <h3 class="text-h3">Niets vergeten</h3>
        <p class="text-body">Ontvang notificaties als registraties moeten worden geupdate.</p>
      </div>
      <div>
        <h3 class="text-h3">Eenvoudig delen</h3>
        <p class="text-body">Deel inventarisaties eenvoudig met de betrokken personen, zodat die hun eigen velden ter controle kunnen doorlezen en aanvullen voor publicatie.</p>
      </div>
      <div>
        <h3 class="text-h3">Flexibiliteit en transparantie</h3>
        <p class="text-body">Definieer op organisatieniveau de velden die je wil gebruiken naast de standaardvelden en stel in wat je wil delen met de buitenwereld bij publicatie.</p>
      </div>
      <div>
        <h3 class="text-h3">Publiceren</h3>
        <p class="text-body">Publiceer registraties met één druk op de knop als open informatie op je eigen online overzicht en naar de nationale algoritme catalogus.</p>
      </div>         
    </div>
    <div>
      <img src="/img/algoritmeregister-mockup-application.png" srcset="/img/algoritmeregister-mockup-application@2x.png 2x">
    </div>
  </div>

  <div class="flex ml-auto mr-auto sm:w-max-wrapper">
    <p class="text-body">Momenteel verzamelen we de Pilotgroep die samen de eerste versie van het algoritmeregister zal gaan inzetten in de eigen organisatie en van daaruit doorontwikkelen. In deze gezamenlijke Pilot halen we concrete feedback op in de praktijk. Die verwerken we direct in de volgende versie van de software. Dit alles gebeurt op basis van de principes van common ground, in samenwerking met Code for NL en de Foundation for Public Code.</p>
  </div>
</body>
</html>